#t1_1 {
    left: 310px;
    bottom: 1342px;
    letter-spacing: 0.22px;
    word-spacing: 0.01px;
    white-space: nowrap;
    font-weight: bold;
}
#t2_1 {
    left: 281px;
    bottom: 1310px;
    letter-spacing: 0.27px;
    word-spacing: -0.01px;
    white-space: nowrap;
}
#t3_1 {
    left: 269px;
    bottom: 1291px;
    letter-spacing: -0.09px;
    white-space: nowrap;
}
#t4_1 {
    left: 297px;
    bottom: 1270px;
    letter-spacing: -0.09px;
    white-space: nowrap;
}
#t5_1 {
    left: 454px;
    bottom: 1251px;
    letter-spacing: 0.14px;
    word-spacing: 0.05px;
    white-space: nowrap;
}
#t6_1 {
    left: 220px;
    bottom: 1172px;
    letter-spacing: 0.21px;
    word-spacing: -0.01px;
    white-space: nowrap;
    font-weight: bold;
}
#t7_1 {
    left: 140px;
    bottom: 1119px;
    letter-spacing: -0.1px;
    word-spacing: 0.01px;
    font-weight: bold;
    white-space: nowrap;
}
#t8_1 {
    left: 118px;
    bottom: 1049px;
    letter-spacing: -0.11px;
    word-spacing: 0.08px;
    white-space: nowrap;
}
#t9_1 {
    left: 350px;
    bottom: 1049px;
    white-space: nowrap;
}
#ta_1 {
    left: 372px;
    bottom: 1049px;
    letter-spacing: -0.04px;
    white-space: nowrap;
}
#tb_1 {
    left: 118px;
    bottom: 1027px;
    letter-spacing: -0.08px;
    word-spacing: -0.08px;
    white-space: nowrap;
}
#tc_1 {
    left: 350px;
    bottom: 1027px;
    white-space: nowrap;
}
#td_1 {
    left: 372px;
    bottom: 1027px;
    letter-spacing: -0.04px;
    white-space: nowrap;
}
#te_1 {
    left: 118px;
    bottom: 1005px;
    letter-spacing: -0.1px;
    white-space: nowrap;
}
#tf_1 {
    left: 350px;
    bottom: 1005px;
    white-space: nowrap;
}
#tg_1 {
    left: 372px;
    bottom: 1005px;
    letter-spacing: -0.04px;
    white-space: nowrap;
}
#th_1 {
    left: 118px;
    bottom: 983px;
    letter-spacing: -0.1px;
    word-spacing: 0.07px;
    white-space: nowrap;
}
#ti_1 {
    left: 350px;
    bottom: 983px;
    white-space: nowrap;
}
#tj_1 {
    left: 372px;
    bottom: 983px;
    letter-spacing: -0.04px;
    white-space: nowrap;
}
#tk_1 {
    left: 118px;
    bottom: 961px;
    letter-spacing: -0.1px;
    word-spacing: -0.07px;
    white-space: nowrap;
}
#tl_1 {
    left: 350px;
    bottom: 961px;
    white-space: nowrap;
}
#tm_1 {
    left: 372px;
    bottom: 961px;
    letter-spacing: -0.04px;
    white-space: nowrap;
}
#tn_1 {
    left: 110px;
    bottom: 905px;
    letter-spacing: -0.09px;
    word-spacing: 0.07px;
    white-space: nowrap;
}
#to_1 {
    left: 123px;
    bottom: 871px;
    letter-spacing: -0.19px;
    white-space: nowrap;
}
#tp_1 {
    left: 216px;
    bottom: 871px;
    letter-spacing: -0.11px;
    word-spacing: -0.07px;
    white-space: nowrap;
}
#tq_1 {
    left: 438px;
    bottom: 871px;
    letter-spacing: -0.1px;
    white-space: nowrap;
}
#tr_1 {
    left: 644px;
    bottom: 871px;
    letter-spacing: -0.1px;
    white-space: nowrap;
}
#ts_1 {
    left: 126px;
    bottom: 851px;
    letter-spacing: -0.1px;
    white-space: nowrap;
}
#tt_1 {
    left: 164px;
    bottom: 851px;
    letter-spacing: -0.12px;
    white-space: nowrap;
}
#tu_1 {
    left: 389px;
    bottom: 851px;
    letter-spacing: -0.12px;
    white-space: nowrap;
}
#tv_1 {
    left: 584px;
    bottom: 851px;
    letter-spacing: -0.12px;
    white-space: nowrap;
}
#tw_1 {
    left: 110px;
    bottom: 637px;
    letter-spacing: -0.09px;
    white-space: nowrap;
}
#tx_1 {
    left: 121px;
    bottom: 603px;
    letter-spacing: -0.19px;
    white-space: nowrap;
}
#ty_1 {
    left: 411px;
    bottom: 603px;
    letter-spacing: -0.1px;
    word-spacing: 0.07px;
    white-space: nowrap;
}
#tz_1 {
    left: 125px;
    bottom: 583px;
    letter-spacing: -0.1px;
    white-space: nowrap;
}
#t10_1 {
    left: 125px;
    bottom: 564px;
    letter-spacing: -0.1px;
    white-space: nowrap;
}
#t11_1 {
    left: 162px;
    bottom: 450px;
    letter-spacing: -0.12px;
    white-space: normal;
    max-width: 640px;
}
#t12_1 {
    left: 162px;
    bottom: 564px;
    letter-spacing: -0.12px;
    white-space: nowrap;
}
#t13_1 {
    left: 227px;
    bottom: 336px;
    letter-spacing: -0.12px;
    word-spacing: 0.09px;
    white-space: nowrap;
}
#t14_1 {
    left: 260px;
    bottom: 240px;
    letter-spacing: -0.15px;
    white-space: nowrap;
}
#t15_1 {
    left: 547px;
    bottom: 336px;
    letter-spacing: -0.11px;
    word-spacing: -0.07px;
    white-space: nowrap;
}
#t16_1 {
    left: 584px;
    bottom: 240px;
    letter-spacing: -0.12px;
    word-spacing: -0.08px;
    white-space: nowrap;
}
#t17_1 {
    left: 248px;
    bottom: 201px;
    letter-spacing: -0.1px;
    white-space: nowrap;
}
#t18_1 {
    left: 592px;
    bottom: 201px;
    letter-spacing: -0.1px;
    white-space: nowrap;
}

.s0 {
    font-size: 18px;
    font-family: Arial;
    color: #000;
}
.s1 {
    font-size: 24px;
    font-family: Arial;
    color: #000;
}
.s2 {
    font-size: 17px;
    font-family: Arial;
    color: #000;
}
.s3 {
    font-size: 15px;
    font-family: Arial;
    color: #000;
}
.s4 {
    font-size: 18px;
    font-family: Arial;
    color: #fff;
}
.s5 {
    font-size: 17px;
    font-family: Arial;
    color: #000;
}
